body,
html {
  scroll-behavior: smooth;
  /* font-family: 'Alfa Slab One', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Staatliches', cursive; */
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

* {
  cursor: default;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pointer {
  cursor: pointer;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

.green {
  color: green;
}

.title {
  font-size: 2.5rem;
  padding-top: 3rem;
  text-transform: uppercase;
}

/* ARROW STYLE */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
