/* styles/global/globals.css */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 16px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* FONTS */
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Heavy.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-UltraBold.otf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-DemiBold.otf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Medium.otf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Regular.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-ExtraLight.otf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
@font-face {
  font-family: "Mixal";
  src: url("./assets/fonts/mixal-fontfamily/Mixal-Hair.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}
